.App {
  text-align: center;
}

.gameboard {
  width: 350px;
  height:350px;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
}

.count {
  width: calc(350px*0.7);
  height: calc(350px*0.7/3);
  padding: 1px;
  margin-left: auto;
  margin-right: auto;    
}

@media (min-width: 650px) and (min-height: 651px){
  .gameboard {
    width: 600px;
    height: 600px;
    border: 1px
  }
  .count {
    width: calc(600px*0.7);
    height: calc(600px*0.7/3);
    padding: 2px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  text-align: center;
  padding: 30px;
}
.game-top-header {
  width: 75%;
  background-color: rgba(142, 237, 142, 0.523);
  border: 1px solid black;
}
.game-left-header {
  width: 25%;
  background-color: rgba(142, 237, 142, 0.523);
  border: 1px solid black;
}
.square {
  border: 1px solid black;
  width: calc(100%/3);
  height: calc(100%/3);
}
.font-face-cg {
  font-family: "CG";
 }
 .rounded {
  border: 1px solid black;
  padding: 5px;
  
 }
 .dropdown-toggle::after {
  display: none !important; 
}

.dialog { 
  max-width: 50% !important;
}
@media (max-width: 900px) {
  .dialog  {
    max-width: 80% !important;
  }
}
.contact{
  font-size: 15px;
}
.nav {
  height: 100px;
}
.techstack_wrapper {
  display: flex;
  justify-content: center;
  
}
.techstack { 
 width: 600px !important;
 padding: 12px
}
@media all and (max-width: 600px) {
  .techstack{
    padding: 12px;
    width: calc(100vw - 24px) !important
  }
}