.App {
  text-align: center;
}
:root{
  --gb_width: 400px;
  
}
@media all and (max-width: 399px) {
  :root{
    --gb_width: 100vw;
  }
}
.gameboard {
  width: var(--gb_width);
  height: var(--gb_width);
  
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(142, 237, 142, 0.523);
}
.token_count_wrapper
 {
  display: flex;
  width: calc(var(--gb_width) * 0.7);
  margin-left: auto;
  margin-right: auto;  
  margin-top: 2rem;  
  margin-bottom: 3rem;
}
.token_count_box {
  width: calc(var(--gb_width) * 0.7 / 3);
  display: flex;
  align-items: center;
  padding: 5px;
}


.center {
  text-align: center;
  padding: 30px;
}

.game_box {
  width: calc(var(--gb_width) / 4);
  height: calc(var(--gb_width) / 4);
  border: 1px solid black;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}
.level {
  flex-direction: column;
}
.animal{
  flex-direction: row ;
}
.animal_icon {
  width: 50px;
}

.horizontal_header, .gameboard_row {
  display: flex;
  
}
.vertical_header {
  
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
  font-family: "Arial";
  color: green;
  font-size: 2rem;
  padding: 0px
 }
 /* .rounded {
  border: 1px solid black;
  padding: 5px;
  
 } */
 .dropdown-toggle::after {
  display: none !important; 
}

.dialog { 
  max-width: 50% !important;
}
@media (max-width: 900px) {
  .dialog  {
    max-width: 80% !important;
  }
}
.contact{
  font-size: 15px;
}
.nav {
  height: 100px;
}
.techstack_wrapper {
  display: flex;
  justify-content: center;
  
}
.techstack { 
 width: 600px !important;
 padding: 12px
}
@media all and (max-width: 600px) {
  .techstack{
    padding: 12px;
    width: calc(100vw - 24px) !important
  }
}

.win-modal {
  border-bottom: 0 !important;
  border-top: 0 !important;
}