.App {
  text-align: center;
}
:root{
  --gb_width: 400px;
  
}
@media all and (max-width: 399px) {
  :root{
    --gb_width: 100vw;
  }
}
.gameboard {
  width: var(--gb_width);
  height: var(--gb_width);
  
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(142, 237, 142, 0.523);
}

.count {
  width: calc(350px*0.7);
  height: calc(350px*0.7/3);
  padding: 1px;
  margin-left: auto;
  margin-right: auto;    
}

/* @media (min-width: 650px) and (min-height: 651px){
  .gameboard {
    width: 600px;
    height: 600px;
    border: 1px
  }
  .count {
    width: calc(600px*0.7);
    height: calc(600px*0.7/3);
    padding: 2px;
  }
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.center {
  text-align: center;
  padding: 30px;
}
.row-1-col-4 {
  display: flex;
  
}
.row-1-col-1 {
  width: calc(var(--gb_width) / 4);
  height: calc(var(--gb_width) / 4);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.animal{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.row-1-col-3 {
  width: calc(var(--gb_width) / 4 * 3);
  height: calc(var(--gb_width) / 4);
  /* border: 1px solid black; */
  display: flex;
}
.row-3-col-4 {
  display: flex;
}
.row-3-col-1 {
  width: calc(var(--gb_width) / 4 );
  height: calc(var(--gb_width) / 4 *3);
  display: flex;
  flex-direction: column;
}
.row-3-col-3 {
  width: calc(var(--gb_width) / 4 * 3);
  height: calc(var(--gb_width) / 4 * 3);
}


.square {
  /* border: 1px solid black; */
  width: calc(100%/3);
  height: calc(100%/3);
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
  font-family: "Arial";
  color: green;
  font-size: 2rem;
  padding: 0px
 }
 .rounded {
  border: 1px solid black;
  padding: 5px;
  
 }
 .dropdown-toggle::after {
  display: none !important; 
}

.dialog { 
  max-width: 50% !important;
}
@media (max-width: 900px) {
  .dialog  {
    max-width: 80% !important;
  }
}
.contact{
  font-size: 15px;
}
.nav {
  height: 100px;
}
.techstack_wrapper {
  display: flex;
  justify-content: center;
  
}
.techstack { 
 width: 600px !important;
 padding: 12px
}
@media all and (max-width: 600px) {
  .techstack{
    padding: 12px;
    width: calc(100vw - 24px) !important
  }
}